@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');

body {
	font-family: 'Space Mono', monospace;
}

.frontpage {
    position: relative;
    display: flex;
    flex-direction: row;
}

.introtext {
	position: absolute;
	font-size: 18px;
	z-index: 0;
	top: 100px;
	left: 500px;
	margin: 50px;
	line-height: 1.5;
}

img {
	z-index: -1;
}


