@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Sofia');

body {
	font-family: 'Vollkorn', serif;
}

.frontpage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
	font-family: 'Sofia', cursive;
	font-size: 80px;
	line-height: 1;
}

.imgintro {
	position: absolute;
	flex-direction: row;
	left: 30px;
	width: 600px;
	height: 400px;
}

.text {
	font-size: 18px;
	line-height: 1.5;
	width: 300px;
	height: 300px;
}

.biopic {
	width: 500px;
	height: 470px;
}


